@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*-----------------------general--------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

ul{
  list-style: none;
}
/*--------------------------header-------------------------*/

header {
    background-color: rgb(92, 219, 149);
    width: 100%;
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    padding: 4px 0 0 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    z-index: 9;
}

.logo {
    width: 64px;
    margin-left: 15px;
}

.ham-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.ham-btn svg{
  width: 30px;
  margin-right: 15px;
}

header p {
    color: #05386b;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-size: .9em;
    padding-right: 3px;
}

/*------------------------navigation menu------------------*/

nav {
    width: 100%;
    height: 100%;
    position: fixed;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* Optionally, we animate the drawer. */
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    background-color: white;
    font-family: "Roboto", sans-serif;
    z-index: 10;
}

nav.open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
        transform: translate(0, 0);
}

/*-------navigation list-----*/

.drawer ul {
    font-size: 1.2em;
    list-style: none;
}

.drawer li {
    height: 50px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.drawer a {
    display: block;
    color: #ff9900;
    padding: 12px 0 12px 40px;
    width: 100%;
    height: 100%;
}

.drawer a:hover {
    color: white;
    background-color: #05386b;
}

/*--------Navigation header-------*/
.nav-head {
    width: 100%;
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.close-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  margin-right: auto;

}

.text-btn {
  color: #05386b;
  font-weight: 700;
  letter-spacing: 1.2px;
  padding: 0 0 0 3px;
font-size: .8em;
}

.logo-nav {
  width: 65px;
-webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
            -ms-grid-row-align: stretch;
        align-self: stretch;
padding-top: 2px;
margin-right: 15px;
margin-left: 4px;
}

.box {
    font-family: "Roboto", sans-serif;
    font-size: .8em;
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 2px 0 2px 0;
    height: 20px;
    width:85px;
    border-radius: 3%;
}

.top {
    margin: 0px 0 0 16px;
    background-color: #ff9900;
}

.middle {
    margin: -2px 0 0 10px;
    background-color: #05386b;
}

.bottom {
    margin: -2px 0 0 22px;
    background-color: #ff9900;
}


.next-btn {
    width: 13px;
    display: inline-block;
    position: absolute;
    right:15px;
}

/*buttons animation*/

.lines{
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;}

.move-lines{
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.lines-close{
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.move-lines-close{
  transition: -webkit-transform .72s ease-in-out;
  transition: transform .72s ease-in-out;
  transition: transform .72s ease-in-out, -webkit-transform .72s ease-in-out;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*Form styles*/
form{
  margin: 12px;
  height: auto;
  font-size: 1.1em;
}

form h1 {
font-size: 2em;

}
form h2{
  font-size: 1.5em;
  margin: 1em 0;
}



/*checkboxes*/

.checkboxes {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.checkboxes li {
    display: block;
    padding: 0;
    margin: 0 0 8px 0;
}


.checkboxes label {
    font-size: 1.1em;
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.checkboxes input{
    display: none;
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.icon-check {
    color: rgb(92, 219, 149);
    line-height: 1.1em;
    margin: 0 .6em 0 .1em;
    padding: 0em .15em;
    background: white;
    border-radius: 2px;
    border: 1px solid rgba(52, 73, 94, 0.3);
}

.checkboxes .fa {
    visibility: hidden;
}

.checkboxes input:checked+.icon-check .fa {
    visibility: visible;
}


/*textbox*/
form p {
  margin: 20px 0;
}


fieldset{
  border:none;
}
.fieldsets{
}


input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
textarea{
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(52, 73, 94, 0.3);
  margin: 8px 0 18px 0;
  font-size: 16px;
}

.container-date{
  display: flex;
  justify-content: space-between;
}
.box-date{
margin-right:6%;
}
.box-time{
  margin-right: auto;
}
.wraper{
  position: relative;
}
.wraper .fa-user{
  position: absolute;
  top:10px;
  left: 10px;
}
main {
    width: 100%;
    padding-top: 64px;

}

footer {
    background-color: yellow;
    height: 300px;
    width: 100%;
}
