@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*-----------------------general--------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}
body{
  background-color:#f0f0f0;
}
img {
  max-width: 100%;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}
p {
  margin: 0;
}


/*--------------------------header-------------------------*/

header {
  background-color: rgb(92, 219, 149);
  width: 100%;
  height: 64px;

  position: fixed;
  padding: 4px 0 0 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  z-index: 17;
}
.cont{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

}
.logo {
  width: 64px;
  margin-left: 15px;
}

.ham-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.ham-btn svg {
  width: 35px;
  margin-right: 15px;
}

header p {
  color: #05386b;
  font-weight: 700;
  letter-spacing: 1.3px;
  font-size: 1em;
  padding-right: 3px;
}


/*------------------------navigation menu------------------*/

.drawer {
  height: calc(100vh);
}

nav {
  width: 100%;
  height: 100%;
  position: fixed;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  /* Optionally, we animate the drawer. */
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-color: white;
  font-family: "Roboto", sans-serif;
  z-index: 17;
  color: #ff9900;
}

nav.open {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}


/*-------navigation list-----*/

.drawer ul {
  font-size: 1.2em;
  list-style: none;
}

.drawer li {
  height: 50px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.drawer a {
  display: block;
  padding: 12px 0 12px 40px;
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: inherit;
}

a.taphover:hover, a.taphover.hover {
  color: white;
  background-color: #05386b;
}


/*--------Navigation header-------*/

.nav-head {
  width: 100%;
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.close-btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: auto;
  cursor: pointer;
}

.text-btn {
  color: #05386b;
  font-weight: 700;
  letter-spacing: 1.3px;
  padding: 0 0 0 5px;
  font-size: 1em;
}

.logo-nav {
  width: 65px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  padding-top: 2px;
  margin-right: 15px;
  margin-left: 4px;
}

.nav-words {
  height: auto;
  display: flex;
  margin: 25px 10px 0 10px;
  justify-content: space-between;
}

.box {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  color: white;
  padding: 4px 0 4px 0;
  height: 30px;
  width: 300px;
  border-radius: 3%;
}

.top {
  background-color: #ff9900;
}

.middle {
  background-color: #05386b;
}

.bottom {
  background-color: #ff9900;
}

.next-btn {
  width: 13px;
  display: inline-block;
  position: absolute;
  right: 15px;
}


/*buttons animation*/

.lines {
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.move-lines {
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.lines-close {
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.move-lines-close {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}


/*hero styles*/

#featured {
  /*background: url("../img/center3.jpg") no-repeat 70% center;
  background-size: cover;*/
}

#featured .item {
  padding: 0px;
  max-width: 100%;
  min-height: calc(100vh - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/**  Carousel Fade **/


/*.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}*/

.carousel-indicators {
  bottom: 15%;
}

.carousel-indicators li, .carousel-indicators .active {
  margin: 0 5px;
}

.carousel-caption {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.phra {
  font-family: 'Share Tech', sans-serif;
  font-size: 2.2em;
  text-align: center;
  color: white;
  margin: 0 auto 15px auto;
  justify-content: center;
  line-height: 40px;
}

.phra-2 {
  margin-bottom: 35px;
}

.orange {
  background-color: white;
  color: #ff9900;
  border: 3px solid #ff9900;
}
.carousel-caption p{
  font-family: 'Share Tech', sans-serif;
}
.carousel-caption a{
  text-decoration: none;
}
.btn-hero {
  margin: 0 10px 15px 10px;
  z-index: 15;
  font-family: 'Share Tech', sans-serif;
  height: 50px;

  width: 100%;
  font-size: 1.3em;
  text-shadow: none;
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

}
.btn-hero:hover{
  background-color: #ff9900;
  color: white;
}

/*Services section styles*/

.services h1 {
  text-align: center;
  font-family: 'Share Tech', sans-serif;
  color: black;
  margin: 55px 0;
  width: 100%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  margin: 25px auto;
  background-color: white;
  padding: 20px 0;
}

.box-serv {
  margin: 30px 0;
  max-height: 100%;
  text-align: center;
  padding: 0 15px;
}

.box-serv svg {
  width: 150px;
  height: 150px;
  margin-bottom: 18px;
}

.box-serv p {
  font-family: 'Share Tech', sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
  color: black;
}


/*nosotros styles*/

.nosotros {
  background: url("../img/moving1.jpg") no-repeat center;
  background-size: cover;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nosotros h1 {
  text-align: center;
  margin: 0 15px;
  border: 3px solid white;
  color: white;
  font-family: 'Share Tech', sans-serif;
  line-height: 40px;
  font-size: 30px;
}


/*Form styles*/

form {
  margin: 12px;
  height: auto;
  font-size: 1.2em;
  color: #05386b;
}

form h1 {
  font-size: 1.7em;
  letter-spacing: 3px;
}

form h2 {
  font-size: 1.3em;
  color: #ff9900;
  margin: .7em 0;
  border-bottom: 10px solid #05386b;
}

label {
  font-weight: 700;
}

fieldset {
  border: none;
}


/*checkboxes*/

.checkboxes {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}

.checkboxes li {
  display: block;
  padding: 0;
  margin: 0 0 8px 0;
}

.checkboxes label {
  cursor: pointer;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.checkboxes input {
  display: none;
  cursor: pointer;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.icon-check {
  color: rgb(92, 219, 149);
  line-height: 1.1em;
  margin: 0 .6em 0 .1em;
  padding: 0em .15em;
  background: white;
  border-radius: 2px;
  border: 1px solid rgba(52, 73, 94, 0.3);
}

.checkboxes .fa {
  visibility: hidden;
}

.checkboxes input:checked+.icon-check .fa {
  visibility: visible;
}


/*textbox*/

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=number], input[type=date], input[type=time], textarea {
  display: block;
  width: 100%;
  border: 1px solid #05386b;
  margin: 10px 0 25px 0;
  font-size: 17px;
}

input[type=date], input[type=time] {
  padding: 10px;
}

input[type=text], input[type=email], input[type=password], input[type=tel] {
  padding: 20px 0 20px 35px;
}

textarea {
  height: auto;
  overflow-y: scroll;
  padding: 16px 0 5px 35px;
}

input[type=submit] {
  font-size: 1em;
  height: 50px;
  border-radius: 1px;
  color: white;
  background-color: #05386b;
  font-weight: 700;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 9px 2px 0;
  width: 100%;
  margin-right: auto;
}


/*date and time*/

.container-date {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-date {
  width: 155px;
  margin-right: 2%;
}

.box-time {
  width: 120px;
  margin-right: auto;
}

.wraper {
  position: relative;
}

.wraper .fa {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #ff9900;
}

.submit-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 45%;
}

.send-btn {
  width: 20px;
  margin-left: -40px;
  margin-right: auto;
}

main {
  width: 100%;
  padding-top: 64px;
}

.contact {

  font-family: 'Share Tech', sans-serif;
  padding: 0 15px;
  color: black;
    background-color: white;
}

.contact h1 {
  font-family: 'Share Tech', sans-serif;
  text-align: center;
  letter-spacing: 7px;
  padding: 70px 0 40px 0;
  font-size: 40px;
  color: black;
  margin: 0 auto;
  font-weight: 500;
  width: 100%;
}

.contact h2 {
  margin: 10px 0;
  font-size: 1.5em;
  font-family: 'Share Tech', sans-serif;
}

.contact p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.1em;
}


.facebook-bot, .google-bot {
  padding: 0 .2em;
  font-size: 1.1em;
}

.facebook-bot a, .google-bot a {
  color: #05386b;
}

.fa-border-bot {
  text-align: center;
  border: solid .09em #05386b;
  border-radius: 50%;
  line-height: 40px;
  width: 40px;
  height: 40px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.fa-border-bot:hover{background-color:#05386b;color:#ECF0F1;}

.social {
  width: 100%;
  background-color: rgb(92, 219, 149);
  display: flex;
  padding: 12px 0;
  justify-content: center;
}
.social h1{
  color: #05386b;
  font-size: 1.2em;
margin: 0 8px 0 0;
align-self: center;
}
.copyright{
  width: 100%;
  padding: 2px 15px;
  background-color: #05386b;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}
.box-contact{
  width: 100%;
  margin: 12px 0;
}
.container-contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
iframe {
margin: 8px auto;
width: 100%;

}

footer {
  background-color:white;
  height: auto;
  width: 100%;
  margin-top: 50px;
}
.nav-desk{
  display: none;
}

.nav-desk li a{
  margin: 0 5px;
  color:  #05386b;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
}

.nav-desk li a:hover{
  color: white;
}

/*servicios*/
.servicios{
  margin: 25px auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.servicios svg{
  height: 100px;
  margin: 70px 0 -9px 25px;
}
.servicios h1{
  padding: 5px;
  border: 3px solid white;
  font-size: 40px;
  color: white;
  margin: 0 0 18px 12px;
  width: 190px;
  font-family: 'Share Tech', sans-serif;
  text-align: center;
}
.serv-word{
  color: #05386b;
  background-color:white;
  font-size: 1.9em;
  padding: 2px 0 0 8px;
  margin: 15px 15px 0 15px;
  font-family: 'Share Tech', sans-serif;

}
.serv-1{
  width: 100%;
  background-color: #05386b;
  height: 500px;
    margin-bottom: 25px;
}
.serv-2{
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.more-info{
  background: url("../img/try1.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}
.info-text{
  color:black;
  margin: 80px 0 20px 15px;
  font-size: 1.5em;
  font-family: 'Share Tech', sans-serif;
}
.serv-num{
  padding: 25px;
  color: #ff9900;
  background-color: white;
  width: 200px;
  font-size: 1.9em;
  margin: 0 0 0 15px;
  text-align: center;
}
.serv-num p{
  margin: 5px 0;
}
.group-btns{
  width: 100%;
  display: flex;
}
.serv-btn{
  width: 50%;
  display: flex;
  height: auto;
  padding: 28px 0 28px 0;
  background-color: #ff9900;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
}
.left{
  border-right: 1px solid white;
}

.group-btns a{
  font-family: 'Share Tech', sans-serif;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.group-btns a:hover{
  opacity: 0.5;
}
@media screen and (min-width:767px) and (max-width:980px) {
.ham-btn{
  display: none
}

.cont{
  padding: 0 15px;
  margin: 0 auto;
}
.logo {
  margin-left: 0px;
}
.btn-hero{
  width: 35%;
}

.nav-desk{
  display: flex;
  align-items: center;
}
.carousel-caption{
  /*width: 780px;*/
  margin: 0 auto;
  padding: 0 15px;
}
.box-serv{
  width: 33.3%;
}
.services {

}
.nosotros {
  background-position: 50% 80%;
  height: calc(60vh);
  background-size: cover;
  background-attachment: fixed;
}
.nosotros h1{
 padding: 0 15px;
}
.box-contact{
  width: 33.3%;
}
.contact{

  height: 100%;

}
.serv-1{
  width: 50%;
  border-right: 5px solid #f0f0f0;
}
.serv-2{
  width:50%;
    border-left: 5px solid #f0f0f0;
}

iframe {
width: 100%;
display:flex;
}
}
@media screen and (min-width:981px) {
  .ham-btn{
    display: none
  }

  .cont{
    width: 980px;
    margin: 0 auto;
  }

  .nav-desk{
    display: flex;
    align-items: center;
  }
  .carousel-caption{
    width: 980px;
    margin: 0 auto;
  }
  .btn-hero{
    width: 35%;
  }

  .phra {
    font-size: 52px;
    line-height: 60px;
}
.box-serv{
  width: 33.3%;
}
.box-serv p{

}
.services {
  width: 980px;
}
.services h1{
  font-size: 44px;
}
.box-serv svg {
  width: 180px;
  height: 180px;
}
.nosotros h1{
  width: 980px;
  margin: 0 auto;
  font-size: 44px;
  line-height: 55px;
}
.nosotros {
  background-position: 50% 80%;
  height: calc(60vh);
  background-size: cover;
  background-attachment: fixed;
}
.box-contact{
  width: 33.3%;
}
.contact{
  width: 980px;
  margin: 0 auto;
}
.contact h1{
  font-size: 44px;
}

.logo {

  margin-left: 0px;
}
.servicios{
  width: 980px;

}
.serv-1{
  width: 50%;
  border-right: 10px solid #f0f0f0;

}
.serv-2{
  width:50%;
    border-left: 10px solid #f0f0f0;
}

}
