@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/*-----------------------general--------------------------------------*/

*, p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



/*--------------------------header-------------------------*/

header {
    background-color: rgb(92, 219, 149);
    width: 100%;
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    padding: 4px 0 0 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
    z-index: 9;
}

.logo {
    width: 64px;
    margin-left: 15px;
}

.ham-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}



.ham-btn svg {
    width: 35px;
    margin-right: 15px;
}

header p {
    color: #05386b;
    font-weight: 700;
    letter-spacing: 1.3px;
    font-size: 1em;
    padding-right: 3px;
}


/*------------------------navigation menu------------------*/

nav {
    width: 100%;
    height: 100%;
    position: fixed;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* Optionally, we animate the drawer. */
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background-color: white;
    font-family: "Roboto", sans-serif;
    z-index: 10;
    color: #ff9900;
}

nav.open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}


/*-------navigation list-----*/

.drawer ul {
    font-size: 1.2em;
    list-style: none;
}

.drawer li {
    height: 50px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.drawer a {
    display: block;
    padding: 12px 0 12px 40px;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: inherit;
}

a.taphover:hover, a.taphover.hover {
    color: white;
    background-color: #05386b;
}




/*--------Navigation header-------*/

.nav-head {
    width: 100%;
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.close-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: auto;
    cursor: pointer;
}

.text-btn {
    color: #05386b;
    font-weight: 700;
    letter-spacing: 1.3px;
    padding: 0 0 0 3px;
    font-size: 1em;
}

.logo-nav {
    width: 65px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    padding-top: 2px;
    margin-right: 15px;
    margin-left: 4px;
}

.box {
    font-family: "Roboto", sans-serif;
    font-size: .8em;
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 2px 0 2px 0;
    height: 20px;
    width: 85px;
    border-radius: 3%;
}

.top {
    margin: 0px 0 0 16px;
    background-color: #ff9900;
}

.middle {
    margin: -2px 0 0 10px;
    background-color: #05386b;
}

.bottom {
    margin: -2px 0 0 22px;
    background-color: #ff9900;
}

.next-btn {
    width: 13px;
    display: inline-block;
    position: absolute;
    right: 15px;
}


/*buttons animation*/

.lines {
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.move-lines {
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.lines-close {
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.move-lines-close {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*hero styles*/
#featured {
  /*background: url("../img/center3.jpg") no-repeat 70% center;
  background-size: cover;*/
}
#featured .item{
    padding: 0 20px;
  max-width: 100%;
  min-height: calc(100vh - 60px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/**  Carousel Fade **/
/*.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}*/

.carousel-indicators{
  bottom: 20%;
}
.carousel-caption{
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phra-first{
  font-family: 'Share Tech', sans-serif;
  font-size: 1.8em;
  text-align: center;
  color: white;
  margin: 0 auto 15px auto;
}

.btn-hero{
  margin: 0 0 15px 0;
  z-index: 50;
  border-radius: 5px;
  height: 50px;
  background-color: #ff9900;
  border: none;
  width: 100%;
  color: white;
  font-size: 1em;
  text-shadow:none;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Form styles*/

form {
    margin: 12px;
    height: auto;
    font-size: 1.2em;
    color: #05386b;
}

form h1 {
    font-size: 1.7em;
    letter-spacing: 3px;
}

form h2 {
    font-size: 1.3em;
    color: #ff9900;
    margin: .7em 0;
    border-bottom: 10px solid #05386b;
}

label {
    font-weight: 700;
}

fieldset {
    border: none;
}


/*checkboxes*/

.checkboxes {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
}

.checkboxes li {
    display: block;
    padding: 0;
    margin: 0 0 8px 0;
}

.checkboxes label {
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.checkboxes input {
    display: none;
    cursor: pointer;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.icon-check {
    color: rgb(92, 219, 149);
    line-height: 1.1em;
    margin: 0 .6em 0 .1em;
    padding: 0em .15em;
    background: white;
    border-radius: 2px;
    border: 1px solid rgba(52, 73, 94, 0.3);
}

.checkboxes .fa {
    visibility: hidden;
}

.checkboxes input:checked+.icon-check .fa {
    visibility: visible;
}


/*textbox*/

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=number], input[type=date], input[type=time], textarea {
    display: block;
    width: 100%;
    border: 1px solid #05386b;
    margin: 10px 0 25px 0;
    font-size: 17px;
}

input[type=date], input[type=time] {
    padding: 10px;
}

input[type=text], input[type=email], input[type=password], input[type=tel] {
    padding: 20px 0 20px 35px;
}

textarea {
    height: auto;
    overflow-y: scroll;
    padding: 16px 0 5px 35px;
}

input[type=submit] {
    font-size: 1em;
    height: 50px;
    border-radius: 1px;
    color: white;
    background-color: #05386b;
    font-weight: 700;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 9px 2px 0;
    width: 100%;
    margin-right: auto;
}


/*date and time*/

.container-date {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box-date {
    width: 155px;
    margin-right: 2%;
}

.box-time {
    width: 120px;
    margin-right: auto;
}

.wraper {
    position: relative;
}

.wraper .fa {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #ff9900;
}
.submit-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 45%;
}
.send-btn{
  width: 20px;
  margin-left: -40px;
  margin-right: auto;
}
main {
    width: 100%;
    padding-top: 64px;
}

footer {
    background-color: yellow;
    height: 300px;
    width: 100%;
}
